/*html {
    font-size: 62.5%;
}*/
.staging-title {
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom: 0.5px solid #dcdcdc;
}
.staging-item {
    flex: 1;
    text-align: center;
    position: relative;
}
.staging-list {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.staging-detail {
    margin-top: 20px;
    width: 100%;
}
.staging-detail .staging-detail-tit {
    background-color: #00a99d;
    color: white;
    padding: 10px;
}
.staging-time {
    float: right;
}
.staging-detail .staging-detail-cont {
    background-color: #f0f0f0;
    padding: 20px 10px;
    /*font-weight: 500;*/
    display: flex;
}
.staging-detail .staging-detail-cont .cont-left {
    width: 63%;
    flex: 3;
}
.staging-detail .staging-detail-cont .cont-right {
    width: 37%;
    text-align: right;
    flex: 2;
}
.cont-left p {
    margin-bottom: 10px;
}
.cont-left p:last-child {
    margin-bottom: 0px;
}
.cont-right p {
    margin-bottom: 10px;
}
.shenhezhong .statusimg {
    background: url(../images/MyStaging/shenheing.png)no-repeat center;
    background-size: 100%;
}
.daishenhe .statusimg {
    background: url(../images/MyStaging/daishenhe.png)no-repeat center;
    background-size: 100%;
}
.daihuankuan .statusimg {
    background: url(../images/MyStaging/daihuan.png)no-repeat center;
    background-size: 100%;
}
.weitongguo .statusimg {
    background: url(../images/MyStaging/pass.png)no-repeat center;
    background-size: 100%;
}
.yiwancheng .statusimg {
    background: url(../images/MyStaging/carryout.png)no-repeat center;
    background-size: 100%;
}
.spanbg {
    display: block;
    width: 50px;
    height: 40px;
    float: right;
}
.staging-detail .staging-detail-foo {
    background-color: #f0f0f0;
    padding: 9px 10px;
    border-top: 0.5px solid #dcdcdc;
}
.foo-right-color {
    color: #00a99d;
}
.foo-left-color {
    color: #a1a1a1;
}
.repayment {
    display: block;
    background-color: #00877e;
    border-radius: 3px;
    text-align: center;
    line-height: 10px;
    padding: 5px;

}
.unread {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #ff4545;
    border-radius: 50%;
    top: 25%;
    right: 20%;
}
.bottom-line {
    position: absolute;
    width: 45%;
    height: 0.2rem;
    background-color: #00877e;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    border-radius: 1rem;
}
.focu-color {
    color: #00877e;
}
.staging-detail .border-redius:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.staging-detail .border-redius:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.uninfo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}
.uninfo-main {
    position: absolute;
    top: 30%;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
}
.uninfo-tit {
    padding: 13px 0;
    text-align: center;
    border-bottom: 0.5px solid #dcdcdc;
    position: relative;
}
.uninfo-cont {
    padding: 35px 0;
    width: 80%;
    margin: 0 auto;
    color: #00a99d;
}
.close-uninfo {
    width: 26px;
    height: 26px;
    background: url("../images/MyStaging/close-uninfo.png")no-repeat center;
    /*border-radius: 50%;*/
    background-size: 100%;
    position: absolute;
    right: -13px;
    top: -13px;
}
.makesure-repay {
    z-index: 99;
}
