html {
    font-size: 62.5%;
}
.staging-title {
    display: flex;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 0.5px solid #dcdcdc;
}
.staging-item {
    flex: 1;
    text-align: center;
    position: relative;
}
.staging-list {
    width: 90%;
    margin: 0 auto;
}
.staging-list .staging-detail {
    margin-top: 2rem;
    width: 100%;
}
.staging-list .staging-detail .staging-detail-tit {
    background-color: #00a99d;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: white;
    padding: 1rem;
}
.staging-time {
    float: right;
}
.staging-list .staging-detail .staging-detail-cont {
    background-color: #f0f0f0;
    padding: 2rem 1rem;
    font-weight: 500;
    display: flex;
}
.staging-list .staging-detail .staging-detail-cont .cont-left {
    width: 63%;
    flex: 3;
}
.staging-list .staging-detail .staging-detail-cont .cont-right {
    width: 37%;
    text-align: right;
    flex: 2;
}
.cont-left p {
    margin-bottom: 1rem;
}
.cont-left p:last-child {
    margin-bottom: 0rem;
}
.cont-right p {
    margin-bottom: 1rem;
}
.staging-list .staging-detail .staging-detail-cont .cont-right .statusimg {
    width: 5rem;
    height: 4rem;
}
.staging-list .staging-detail .staging-detail-foo {
    background-color: #f0f0f0;
    padding: 0.9rem 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: 0.5px solid #dcdcdc;
}
.foo-right-color {
    color: #00a99d;
}
.foo-left-color {
    color: #a1a1a1;
}
.repayment {
    display: block;
    background-color: #00877e;
    border-radius: 0.3rem;
    text-align: center;
    line-height: 1rem;
    padding: 0.5rem;

}
.unread {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ff4545;
    border-radius: 50%;
    top: 25%;
    right: 20%;
}
.bottom-line {
    position: absolute;
    width: 45%;
    height: 0.2rem;
    background-color: #00877e;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0.3rem;
    border-radius: 1rem;
}
.focu-color {
    color: #00877e;
}
