.width-main {
    width: 90%;
    margin: 0 auto;
}
.padding-main {
    padding: 20px 0;
}
.margin-bottom20 .border-ru:nth-child(1){
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.margin-bottom20 .border-ru:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.answer {
    display: none;
}
.trans
{
transform:rotate(90deg);
-ms-transform:rotate(90deg); 	/* IE 9 */
-moz-transform:rotate(90deg); 	/* Firefox */
-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
-o-transform:rotate(90deg); 	/* Opera */
}
.fontcolor-green {
    color: #00a99d;
}
