.submitted-mianwidth {
    padding: 40px 0 0 0;
    width: 90%;
    margin: 0 auto;
    /*text-align: center;*/
}
.clock {
    width: 100px;
    height: 100px;
}
.clock-warp {
    width: 100%;
    text-align: center;
}
.complete-btn {
    width: 100%;
    background-color: #00a99d;
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}
